#header {
    text-align: center;
}

#main {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#canvas {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#counter {
    display: block;
}

#canvas-table {
    margin-left: auto;
    margin-right: auto;
}

#coord-mng {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.coord-def {
    width: 40%;
}

.controls {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
}